@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

#root {
  display: block; /* Cambiamos esto para evitar que se centre el contenido */
  height: 100%; /* Asegura que el contenido ocupe todo el alto */
  background-color: #f4f4f4;
}


nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
